.WorkingSpace {
  background-color: var(--workback);
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  position: relative;
}

.WorkingSpaceContent {
  padding-top: 120px;
  padding-bottom: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: var(--workspace);
  padding-bottom: 20px;
}
.text {
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  text-align: center;
  padding-bottom: 60px;
}
.servicesList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.servicesList li {
  border-radius: 7px;
  overflow: hidden;
}

.Line1 {
  position: absolute;
  top: 493px;
  left: 50%;
  transform: translateX(-50%);
  width: 1000px;
  height: 490px;
  background-image: url("/public/lines/HomeLines/spaceMobLine1.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  pointer-events: none;
}
.Line path {
  stroke: var(--modalLines);
}

@media (min-width: 1024px) {
  .servicesList {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 400px 550px;
    column-gap: 20px;
    row-gap: 30px;
    width: 100%;
    max-width: 904px;
    margin: 0 auto;
    align-items: start;
  }

  .servicesList li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  .servicesList > li:nth-child(1) {
    grid-column: 1 / 5;
    grid-row: 1;
  }

  .servicesList > li:nth-child(2) {
    grid-column: 5 / 9;
    grid-row: 1;
  }

  .servicesList > li:nth-child(3) {
    grid-column: 9 / 13;
    grid-row: 1;
  }

  .servicesList > li:nth-child(4) {
    grid-column: 1 / 5;
    grid-row: 2;
    align-self: end;
  }

  .servicesList > li:nth-child(5) {
    grid-column: 5 / 9;
    grid-row: 2;
    align-self: end;
  }

  .servicesList > li:nth-child(6) {
    grid-column: 9 / 13;
    grid-row: 2;
    align-self: end;
  }
}
@media (min-width: 1440px) {
  .WorkingSpaceContent {
    padding-top: 200px;
    padding-bottom: 200px;
  }
  .title {
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
  }
  .text {
    font-size: 42px;
    line-height: 133%;
    letter-spacing: 0em;
  }
  .servicesList {
    column-gap: 32px;
    row-gap: 30px;
    max-width: 1121px;
  }
}
