.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1500;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--modal);
}

.head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 24px 0;
  width: 48px;
  height: 48px;
  background-color: var(--color-primary-1);
  border-radius: 10px;
  box-shadow: -5px 10px 30px 0 rgba(76, 64, 247, 0.5);
}
.iconLogo {
  width: 20px;
  height: 20px;
  display: block;
  flex-shrink: 0;
}

.modalControls {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
}

.close {
  fill: var(--close);
  background: none;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Line {
  border-top: 1px solid var(--line-light-line);
  width: 100%;
}

.nav {
  display: flex;
  flex-direction: column;
  height: 85vh;
  justify-content: space-between;
  text-decoration: none;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 40px;
  position: relative;
}
.line1,
.line2 {
  position: absolute;
  width: 100%;
  height: 100vh;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  pointer-events: none;
}

.line1 {
  background-image: url("/lines/mobModalLine1.svg");
  height: 490px;
  top: 38%;
}
.line2 {
  background-image: url("/lines/mobModalLine2.svg");
  height: 483px;
  top: 43%;
}

.line1 path,
.line2 path {
  stroke: var(--modalLines);
}
.link {
  font-weight: 600;
  font-size: 32px;
  line-height: 150%;
  letter-spacing: 0em;
  text-align: center;
  text-decoration: none;
  color: var(--links);
}

.active {
  color: var(--actLinks);
}

.contact {
  margin-bottom: 44px;
  width: 100%;
  height: 64px;
  border-radius: 12px;
  padding: 19px;
  font-weight: 600;
  font-size: 16px;
  line-height: 162%;
  background: var(--color-primary-1);
  color: var(--color-white);
  text-decoration: none;
  text-align: center;
}

.link,
.logo,
.close {
  cursor: pointer;
}
