.toggleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
}

.toggle {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle + label {
  position: relative;
  display: inline-block;
  width: 38px;
  height: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.toggle + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--grayscale-grayscale-5);
  border-radius: 999px;
  transition: background-color 0.3s ease;
}

.toggle + label::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 4px;
  width: 14px;
  height: 14px;
  background-color: var(--color-white);
  border-radius: 50%;
  transition: transform 0.3s ease, background-color 0.3s ease;
  box-shadow: 2px 2px 4px 0 rgba(8, 20, 32, 0.3);
}

.toggle:checked + label::before {
  background-color: var(--color-primary-1);
}

.toggle:checked + label::after {
  transform: translateX(16px);
  background-color: var(--color-white);
}
