.hero {
  position: relative;
}
.heroImgMob {
  width: 112%;
  transform: translateX(-5%);
  height: auto;
  object-fit: cover;
  display: block;
}

.content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 24px;
}
.heroTitle {
  margin-top: 20px;
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
}
.titlePart {
  color: var(--herotitle);
}
.text {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  color: var(--links);
}

.start {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 30px;
  width: 180px;
  height: 48px;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  text-align: center;
  border-radius: 12px;
  padding: 19px;
  text-decoration: none;
  text-align: center;
  color: var(--color-white);
  background: var(--color-primary-1);
  box-shadow: 5px 10px 30px 0 rgba(76, 64, 247, 0.5);
}
.rightArrow {
  fill: var(--color-white);
  stroke-width: 5px;
}
.Line {
  position: absolute;
  top: 493px;
  left: 50%;
  transform: translateX(-50%);
  width: 1000px;
  height: 490px;
  background-image: url("/lines/HomeLines/heroMobLine.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  pointer-events: none;
}
.Line path {
  stroke: var(--modalLines);
}
@media (min-width: 320px) and (max-width: 427px) {
  .Line {
    top: 445px;
  }
  .heroImgTab {
    max-width: 100%;
  }
}
@media (min-width: 1024px) {
  .hero {
    display: flex;
    flex-direction: row-reverse;
  }
  .heroImgTab {
    z-index: 2;
  }
  .content {
    max-width: 370px;
    margin-top: 113px;
  }
  .heroTitle {
    margin-top: 0px;
    font-size: 32px;
    line-height: 150%;
    letter-spacing: 0em;
  }
  .start {
    justify-content: center;
    width: 200px;
    height: 64px;
    font-size: 16px;
    line-height: 162%;
    gap: 16px;
  }
  .rightArrow {
    width: 26px;
    height: 19px;
    stroke-width: 3px;
  }

  .Line {
    background-image: url("/lines/HomeLines/heroTabLine.svg");
    position: absolute;
    width: 2080.37px;
    height: 1021px;
    left: 50%;
    top: -70px;
    transform: translateX(-50%);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    pointer-events: none;
  }
}
@media (min-width: 1440px) {
  .hero {
    justify-content: start;
  }
  .heroImg {
    position: absolute;
    left: 38%;
    z-index: 2;
  }
  .content {
    max-width: 570px;
  }
  .heroTitle {
    font-size: 56px;
    line-height: 129%;
    letter-spacing: -0.01em;
    text-wrap: wrap;
  }
  .titlePart {
    display: block;
  }
  .text {
    max-width: 365px;
    font-size: 18px;
    line-height: 178%;
  }
  .Line {
    background-image: url("/lines/HomeLines/heroDescLine.svg");
    position: absolute;
    width: 2080.37px;
    height: 1021px;
    top: 110px;
    left: 50%;
    pointer-events: none;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}
