.thumb {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 44px;
  border-radius: 20px;
  padding: 44px;
  max-width: 380px;
  height: 458px;
  background-color: var(--servicecard);
  box-shadow: var(--servicecardshadow);
}
.round {
  width: 97px;
  height: 97px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.svg {
  fill: var(--color-white);
}

.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  text-align: center;
}
.text {
  padding-top: 16px;
  font-weight: 400;
  font-size: 18px;
  line-height: 178%;
  text-align: center;
  color: var(--links);
}
.back {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  background-color: var(--servicearrowback);
}
.action {
  width: 20px;
  height: 20px;
  stroke-width: 3px;
  fill: var(--servicearrow);
}

@media (min-width: 320px) and (max-width: 427px) {
  .thumb {
    height: auto;
  }
}

@media (min-width: 1024px) {
  .thumb {
    padding: 44px 20px;
    width: 288px;
    height: 458px;
  }
  .text {
    font-size: 14px;
    line-height: 171%;
  }
}

@media (min-width: 1440px) {
  .thumb {
    padding: 44px;
    width: 352px;
  }
}
