.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 380px;
  height: 188px;
  border-radius: 20px;
  background-color: var(--benefitcard);
  box-shadow: 0 25px 100px 0 rgba(76, 64, 247, 0.08);
}

.title {
  font-weight: 600;
  font-size: 42px;
  line-height: 133%;
  letter-spacing: 0em;
  text-align: center;
}

.text {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  text-align: center;
  text-wrap: wrap;
  max-width: 324px;
  opacity: 0.7;
}

@media (min-width: 320px) and (max-width: 359px) {
  .content {
    max-width: 276px;
  }
}

@media (min-width: 360px) and (max-width: 427px) {
  .content {
    width: 345px;
    height: 166px;
  }
}

@media (min-width: 1024px) {
  .content {
    gap: 20px;
    width: 232px;
    height: 239px;
  }
}

@media (min-width: 1440px) {
  .content {
    width: 270px;
    height: 300px;
  }
  .title {
    font-size: 56px;
    line-height: 129%;
    letter-spacing: -0.01em;
  }
  .text {
    font-size: 18px;
    line-height: 178%;
  }
}
