.ourDocumentation {
  margin-top: 120px;
  position: relative;
}

.title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: var(--services);
}

.text {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.4;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 60px;
}

.videotest {
  position: absolute;
  top: 151px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 8px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 3;
}

.videoWrapper {
  position: absolute;
  top: 9px;
  left: 50%;
  transform: translateX(-50%);
  width: 380px;
  height: 224px;
  border-radius: 8px;
  z-index: 3;
}

.backgroundWrapper {
  position: relative;
  height: 300px;
  overflow: hidden;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: visible;
}

.shape1,
.shape2 {
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  pointer-events: none;
}

.shape1 {
  background-image: url("/lines/HomeShapes/shapeMob1.png");
  top: -5%;
  left: 40%;
  transform: translateX(-50%);
  width: 775px;
  height: 712px;
  z-index: 1;
}

.shape2 {
  background-image: url("/lines/HomeShapes/ShapeMob2.png");
  top: -26%;
  left: 84%;
  transform: translateX(-50%);
  width: 512.85px;
  height: 611.75px;
  z-index: 2;
}

@media (min-width: 320px) and (max-width: 427px) {
  .videotest {
    min-width: 312px;
    max-width: 345px;
  }

  .backgroundWrapper {
    height: 300px;
  }

  .shape1 {
    top: -5%;
    left: 36%;
  }

  .shape2 {
    top: -27%;
    left: 82%;
  }
}

@media (min-width: 1024px) {
  .videoWrapper {
    top: -19px;
    width: 904px;
    height: 532px;
  }

  .backgroundWrapper {
    height: 652px;
  }

  .shape1 {
    background-image: url("/lines/HomeShapes/ShapeTab1.png");
    top: -2%;
    left: 35%;
    width: 1590px;
    height: 1462px;
  }

  .shape2 {
    background-image: url("/lines/HomeShapes/ShapeTab2.png");
    top: -15%;
    left: 84%;
    width: 896.51px;
    height: 1069.38px;
  }
}
@media (min-width: 1440px) {
  .ourDocumentation {
    margin-top: 200px;
  }

  .title {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.4;
  }

  .text {
    font-weight: 600;
    font-size: 42px;
    line-height: 1.33333;
    letter-spacing: 0em;
  }

  .videoWrapper {
    top: 69px;
    width: 1120px;
    height: 660px;
  }

  .backgroundWrapper {
    height: 860px;
  }

  .shape1 {
    background-image: url("/lines/HomeShapes/ShapeDesc1.png");
    top: 0;
    left: 36%;
  }

  .shape2 {
    background-image: url("/lines/HomeShapes/ShapeDesc2.png");
    top: -3%;
    left: 83%;
  }
}
