.head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 24px 0;
  width: 48px;
  height: 48px;
  background-color: var(--color-primary-1);
  border-radius: 10px;
  cursor: pointer;
  box-shadow: -5px 10px 30px 0 rgba(76, 64, 247, 0.5);
}
.iconLogo {
  width: 20px;
  height: 20px;
  display: block;
  flex-shrink: 0;
}
.mobileControls {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
}

.iconMenu {
  fill: var(--burger);
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 1024px) {
  .head {
    justify-content: space-between;
  }
  .logo {
    margin: 36px 0;
  }
  .nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 81.5px;
  }

  .linksList {
    display: flex;
    flex-direction: row;
    gap: 81.5px;
    margin-right: 21.5px;
  }
  .link {
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    text-align: center;
    text-decoration: none;
    color: var(--links);

    text-align: center;
    color: var(--text-grey);
  }

  .active {
    color: var(--actLinks);
  }

  .action {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
  }

  .contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 12px;
    padding: 19px;
    width: 127px;
    height: 48px;
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    text-decoration: none;
    color: var(--color-white);
    background: var(--color-primary-1);
    box-shadow: -15px 10px 30px 0 rgba(76, 64, 247, 0.25);
  }
}
@media (min-width: 1440px) {
  .nav {
    gap: 171.5px;
  }
  .contact {
    width: 160px;
    height: 64px;
    font-weight: 600;
    font-size: 16px;
    line-height: 162%;
  }

  .linksList {
    display: flex;
    flex-direction: row;
    gap: 81.5px;
    margin-right: 21.5px;
  }

  .action {
    gap: 50px;
  }
}
