.benefitsDescription {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.checkbox {
  background-color: var(--color-primary-1);
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.tick {
  color: var(--bg);
}
.text {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  color: var(--links);
}
