.benefitsDescription {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}
.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary-1);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  flex-shrink: 0;
}
.tick {
  color: var(--bg);
}
.benefitsText {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  color: var(--text-grey);
}
@media (min-width: 1024px) {
  .benefitsDescription {
    gap: 16px;
  }
}

@media (min-width: 1440px) {
  .benefitsDescription {
    gap: 24px;
  }
  .checkbox {
    width: 24px;
    height: 24px;
  }
  .benefitsText {
    font-size: 18px;
    line-height: 178%;
  }
}
